/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* TABLET AND MOBILE */
@media (max-width: 991.98px) {
  /* 1. Ẩn thanh navbar đi */
  .navbar {
    display: none;
  }
  /* 2. chuyển logo vào giữa */
  .header-top {
    position: relative;
  }

  /* 3. căn lại vị trí của logo */
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /* 4. căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 36px;
    left: 27px;
    color: #fff;
    width: 24px;
  }

  /* 5. căn lại vị trí của overlay */
  .overlay {
    position: fixed; /* fix cứng cho nó */
    inset: 0; /* top: 0; left: 0; right: 0; bottom: 0; 
    tạo ra 1 khung bao quanh cả viewport, cách 4 cạnh là 0*/
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; /* để nó nằm trên cùng hết all phần tử */

    /* bình thường ẩn nó đi */
    opacity: 0; /* ẩn nó đi nhưng vẫn chiếm diện tích, vẫn có thể click nó được, nhưng ko click các phần tử phía sau nó dc */
    visibility: hidden; /* ẩn nó đi và không chiếm diện tích, không thể click nó được, lúc nnày có thể click các phần tử phía sau nó */
    transition: 0.5s; /* tạo hiệu ứng chuyển đổi khi hiển thị và ẩn đi */
  }

  /* 6. kiểm tra nếu checkbox được chọn thì hiển thị overlay */
  #menu-checkbox:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }

  /* 7. căn lại vị trí của menu drawer */
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0; /* top: 0; right: 40%; bottom: 0; left: 0; */
    background: #2e1919;
    z-index: 2; /* để nó nằm trên overlay */
    transform: translateX(
      -100%
    ); /* ẩn nó đi bằng cách dịch chuyển nó sang trái hết */
    transition: 0.5s; /* tạo hiệu ứng chuyển đổi khi hiển thị và ẩn đi */
    padding: 60px;
  }

  /* 8. hiển thị menu drawer khi checkbox được chọn */
  #menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* 9. điều chỉnh close icon */
  .close__menu {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* ================== khối hero ================*/
  .hero {
    flex-direction: column;
    row-gap: 30px;
  }

  .hero__content {
    order: 2;
  }

  .hero__media {
    order: 1;
  }

  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }

  .hero__row {
    justify-content: center;
  }

  /* ========== khối services ============= */
  .service__row {
    flex-direction: column;
    row-gap: 30px;
  }

  .service__img {
    width: 100%;
  }

  .service__list {
    text-align: center;
  }

  .service-item {
    width: 90%;
    text-align: start;
  }

  /* ============= work ==================== */
  .work-list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* ============= about ==================== */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }

  /* ẩn ảnh nhỏ đi */
  .about__img--small {
    display: none;
  }

  .about__media {
    width: 100%;
  }

  .about__img--large {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }

  .about__content {
    width: 90%;
    text-align: center;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* MOBILE */
@media (max-width: 767.98px) {
}
