* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* =================== COMMON =================== */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  /* Vì những thẻ này thường ko chịu kế thừa từ cha nên ta sẽ thêm mặc định để nó kế thừa */
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -0.1rem;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 18px;
}

/* BUTTON NAV */
.control {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.control__btn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background-color: #fff;
  cursor: pointer;
  transition: 0.25s; /* cho xoay mượt */
}

.control__btn:hover {
  background-color: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control-icon--next {
  rotate: 180deg; /*xoay */
}
/* =================== HEADER =================== */
.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  position: relative;
  right: 8px;
  top: -3px;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fff;
  border-radius: 50%;
}

.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}

/* =================== HERO =================== */
.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}

.hero__content {
  width: 44%; /* 517/1170=0.44..*100=44% */
}

.hero__media {
  flex: 1; /* chiếm toàn bộ phần còn lại */
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  /* => dùng 2 thuộc tính này vì 2 thẻ này là inline nó sẽ có khoảng cách giữa giữa 2 thẻ
, khi có flex sẽ mất đi khoảng cách đó */
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__img {
  border-radius: 6px;
  object-fit: cover; /* để ảnh ko bị méo */
}

.hero__img-large {
  width: 33rem;
  height: 54rem;
  margin-right: -6px; /* (ảnh gốc) 210 - 204 (ảnh sau khi bị đè) = 6px */
  z-index: 1; /* vì ảnh này vị trí nằm trc ảnh nhỏ nên nó sẽ bị nằm sau ảnh nhỏ, dùng thuộc tính này để nó nằm trên */
}

.hero__img-small {
  width: 21rem;
  height: 41rem;
}

/* ============================== SERVICE ========================================== */
.service {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 46.8rem;
  margin: 18px auto 0;
}

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 57rem;
  height: 57rem;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  padding: 21px;
  display: flex;
  width: 470px; /* chỉ cần đặt chiều rộg, ko cần đặt chiều cao để khi thêm ndung vào nó sẽ tự động giãn xuống */
  border-radius: 10px;
  background: #fff;
  transition: 0.25s; /* di chuyển ra chậm chút */
}

.service-item:hover {
  position: relative; /* lôi item đó khỏi mặt phẳng khác, nằm trên mặt phẳng cao hơn */
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.09);
}

.service-item:hover .service-item__icon {
  color: #fff;
  border-radius: 3rem;
  background: #2e80ce;
  box-shadow: 0 8px 16px 0 rgba(40, 155, 222, 0.15);
}

.service-item__icon {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  /* CANH GIỮA ICON */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* để khung icon ko bị méo */
  margin-right: 19px;
  transition: 0.25s; /* di chuyển vào chậm chút */
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service__btn {
  margin-top: 55px;
}

/* ============================== WORK ========================================== */
.work {
  background: #f6fbff;
  padding: 100px 0;
}

.work__desc {
  width: 468px;
}

.work-list {
  margin-top: 86px;
  /* shift G khi thấy các item nằm gọn trong cột, chia đều ra thì dùng grid */
  display: grid; /* ko cần thêm độ rộng nữa vì nó sẽ căn độ rộng bằng nhau */
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(
    -16px
  ); /* dịch chuyển, trục Y -> lên xuống, trục X -> trái phải */
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* ============================ ABOUT ============================== */
.about {
  margin-top: 85px;
  padding: 85px 0 206px;
  /* ban đầu bottom cũng 85px, nhưng vì ảnh nhỏ dùng absolute nên nó bị lôi ra khỏi luồng,
  lúc này bottom 85 chỉ tính từ ảnh lớn nên ảnh nhỏ bị lồi ra khỏi khùng,
  xem trên thiết kế thì bottom ảnh nhỏ là 121px nên 85 cộng thêm 121 nữa 206*/
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__media {
  width: 49%; /* 570/1170=0.48*100=48,...=49% */
}

.about__content {
  width: 40%; /*470/1170=0.40*100=40% */
}

.about__images {
  position: relative;
}

.about__img {
  border-radius: 6px;
  object-fit: cover;
}

.about__img--large {
  display: flex; /* vì nó là thẻ inline nên nó sẽ có khoảng hở, dùng dflex để ko còn khoảng hở */
  width: 512px;
  height: 370px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
}

.about-content__btn {
  margin-top: 38px;
}

/* ============================= TEAM ================================ */
.team {
  padding: 85px 0;
}

.team__header {
  text-align: center;
  margin: 0 auto;
}

.team__cta {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team-item__img--bg {
  padding: 28px 4px 0;
  border-radius: 6px;
  background-color: #eaf6ff;
  overflow: hidden; /* để ndung bên trong ko bị lồi ra ngoài */
}

.team-item__avt {
  height: 290px;
  max-width: 100%; /* căn chỉnh theo chiều cao */
  object-fit: cover;
  display: block; /* chuyển ảnh về block để ảnh ko bị thừa khoảng trống*/

  transition: 0.5s; /* để khi rơi vào khung ảnh sẽ scale lên chậm đẹp */
}

.team-item:hover .team-item__avt {
  transform: scale(1.1);
}

.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* =================== INSTALL =================== */
.install__inner {
  margin: 180px 0 85px; /* 265-85=180 */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 427px;
  border-radius: 0.4rem;
  background: #2e80ce;
}

.install__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  object-fit: cover;
}

.install__content {
  width: 586px;
}

.install__heading {
  max-width: 489px;
  color: #fff;
}

.install__desc {
  margin-top: 18px;
  max-width: 586px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.install__row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
  align-items: center;
}

/* ============================= BLOG ================================ */
.blog {
  padding: 85px 0;
  background: #fff;
}

.blog__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__content {
  width: 40%;
}

.blog__heading {
  max-width: 470px;
}

.blog__read {
  display: block;
  margin-top: 28px;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-underline-offset: 4px; /* gạch chân đến nét g */
}

.blog__control {
  margin-top: 28px;
  justify-content: flex-start;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.blog-item {
  max-width: 270px; /*ko cần đặt chiều cao để khi có thêm ndung nó tự giãn ra */
  border-radius: 1.2rem;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden; /* để ảnh ko bị lồi ra ngoài */
  transition: 0.5s; /* để bóng đổ chậm */
}

.blog-item:hover {
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.blog-item__wrap {
  height: 172px;
  overflow: hidden;
  /* 2 thuộc tính nàu giúp ảnh khi scale lên ko bị lồi ra ngoài che mất ndung bên ngoài */
}

.blog-item__img {
  width: 270px;
  height: 172px;
  object-fit: cover;
  transition: 0.25s;
}

.blog-item:hover .blog-item__img {
  transform: scale(1.1);
}

.blog-item__body {
  padding: 18px 22px;
}

.blog-item__heading {
  color: #10375c;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}

.blog-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}

.blog-item__more {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}

.blog-item__more:hover {
  color: #2e80ce;
}

/* ============================= APPOINTMENT ================================ */
.appointment {
  margin-top: 85px; /* ban đầu là trên dưới 85
  sau đổi lại chỉ trên 85 vì nếu dưới 85 khi gặp khối sau cũng 85 thì nó ko cộng nhau
  mà nó sẽ chỉ lấy tk nào lớn hơn */
}

.appointment__inner {
  padding: 100px 179px;
  background: #f6fbff;
  text-align: center;
}

.appointment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}

.appointment__desc {
  width: 617px;
  margin: 18px auto 0;
}

.appointment__btn {
  margin-top: 38px;
}

/* ============================= FOOTER ================================ */
.footer {
  margin-top: 170px;
  padding-top: 100px;
  background: #10375c;
  font-family:
    "Open Sans", sans-serif; /* để nó kế thừa tất cả font theo cha footer */
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr; /* (2 cột giữa)134/336(cột đầu&cuối) = 0.4  */
  column-gap: 78px;
}

/* COLUMN 1 */
.footer__desc {
  margin-top: 21px;
  /* width: 336px; */
  color: #a9b3bb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* COLUMN 2 */
.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer__list {
  margin: 20px 0 28px;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  white-space: nowrap; /* ko bẻ chữ xuống hàng */
}

.footer__link:hover {
  text-decoration: underline;
}

/* COLUMN 4 */
.footer__social {
  display: flex;
  margin: 20px 0 28px;
  column-gap: 10px;
}

.footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 3 thuộc tính trên căn giữa cho icon đẹp ko méo */

  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #2e80ce;
  transition: 0.25s;
}

.footer__social-btn:hover {
  background: #2e80ce;
  color: #fff;
}

.footer-form {
  margin-top: 10px;
  display: flex;
  column-gap: 12px;
}

.footer-form__input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background: #10375c;
  outline: none; /* bỏ viền thừa đi */
  color: #fff;
  padding: 10px;
}

.footer-form__input::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer-form__submit {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
  border: none; /* bỏ viền đi */
}

.footer-form__submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* COPY RIGHT */
.footer__copyright {
  border-top: 1px solid #406181;
}

.footer__copyright-text {
  padding: 28px 0 42px;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

/* AOS */
[data-aos] {
  visibility: hidden;
}
[data-aos].animate__animated {
  visibility: visible;
}
